script.
  // GA
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-24905421-3', { storeGac: false, });
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
script(async=true, src="https://www.google-analytics.com/analytics.js")
