doctype html
html(lang="en")
  include _head.pug
  body.BgGradient.flex-middle
    a#top(title="Page top (anchor)")
    div.Container.FadeIn.center
      p
        img.responsive(alt="Greina Logo", src="/static/images/logo-100.svg")
      h1 Greina
    include _scripts.pug
